@font-face {
  font-family: 'Fragile';
  src: url('../src/assets/fonts/Fragile\ Bombers.otf') format('opentype'); 
}

@font-face {
  font-family: 'DashHorizon';
  src: url('../src/assets/fonts/Dashhorizon-eZ5wg.otf') format('opentype'); 
}

@font-face {
  font-family: 'zekton';
  src: url('../src/assets/fonts/zekton\ rg.otf') format('opentype'); 
}

.mobile-blocker {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.493); /* Dark overlay */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  z-index: 9999; /* Ensure it's above all other elements */
  text-align: center;
  padding: 20px;
  
  font-family: Fragile;
}

.mobile-blocker p {
  margin: 0;
}

/* Ensure the page takes the full height */
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}
/* Enable smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* A default style to ensure your app fills the full viewport */
#root, .App {
  min-height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
}
